body{
    margin:0px;
}

h1,h2,h3,h4,h5,h6,p,a{
    font-family: Bitter-Bold;
}
@font-face {
    font-family: Bitter-Bold;
    src: url(../fonts/Bitter-Bold.ttf);
}
h1,h3{
    line-height: 0px;
}
h3{
    margin-bottom: -3px;
}
.form{
    float: left;
}
#container{
    margin:0 auto; width:1040px;
}


.main {
  font-family: Bitter-Bold;
  font-size:1em;</font>
  color: white;
}
#logoSection{
    position:center;
    margin-top: 0px;
}
.throw{
    position: relative
}
#headerSection{
    background-image: url('../images/black_background_image_backgrounds_2048_high_definition.jpg'); 
    background-repeat: repeat-x;
}
#logoSection,#navSection {
    float:left;
}

#navSection ul{
list-style-type: none;
margin: 0px 0 0 10px;
}

#navSection ul li{
    display: inline-block;
    margin-left:15px;
}
#navSection ul li a{
    font-size: 10px; 
    text-transform: uppercase; 
    text-decoration: none; 
    color:white;

}

footer {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

a {
    color: darkgoldenrod;
}

#featureText{
    float:right;
    padding:10px 5px;
    width:500px;
    background-color: rgba(255, 255,255,.5);
}
#mainContent{
    position: relative;
    background-image: url(../img/White.jpg);
    background-repeat: repeat-y;
    background-position: center;
}
#mainContentSummary {
    position: absolute;top:0;left:0; 
    padding: 10px; 
    width:1000px; 
    text-align: center
}
.clearDiv {
    clear:both;
}
.specialText{
    font-weight: bold; 
    color:#eb1b2b;
}

#assigmentPictures {
    float: left;
    display: flex;
    justify-content: center;

}

.container{
	width:800px;
	height:400px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  background: black;
}


.main{
    float: left;
}
#dot{
    color: white;
}

body {
	font-family: open;
	background: gold;
	color: #000000;
	line-height: 1.618em;
}

a.fade_in_underline {
    text-decoration: none;
    padding-left: 0.125em;
    padding-right: 0.125em;
    padding-bottom: 0.05em;
    border-bottom: 0.125em solid #fff;
    transition: all 0.35s;
}

a.fade_in_underline:hover {
    border-bottom: 0.125em solid gold;
    transition: all 0.35s;
}

a[class^='underline'] {
    text-decoration: none;
    padding-left: 0.125em;
    padding-right: 0.125em;
    padding-bottom: 0.05em;
    position: relative;
}

a[class^='underline']::after {
    content: '';
    position: absolute;
    top: 100%;
    border-bottom: 0.125em solid gold;
    transition: all 0.35s;
}

a[class^='underline']:hover::after {
    transition: all 0.35s;
}

a.underline_from_center::after {
    left: 50%;
    right: 50%;
}

a.underline_from_center:hover::after {
    right: 0;
    left: 0;
}

button {
    font-family: open;
	font-size: 2em;
	background: gold;
	color: #fff;
	border: 0.15rem solid gold;
	padding: 0.35em 0.45em;
	margin: 1rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

button:hover {
	color: gold;	
}

button::after {
	content: "";
	background: #ecf0f1;
	position: absolute;
	z-index: -1;
	padding: 0.35em 0.45em;
	display: block;
}

button[class^="grow"]::after {
	transition: all 0.3s ease;	
}

button[class="grow"]:hover:after {
	transition: all 0.3s ease-out;	
}

button.grow_box::after {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: scale(0, 0);	
}

button.grow_box:hover::after {
	transform: scale(1, 1);	
}

a.fade_in_bg {
    text-decoration: none;
    border-bottom: 0.0625em dotted gold;
    padding-left: 0.25em;
    padding-right: 0.25em;
    transition: all 0.35s;
}

a.fade_in_bg:hover {
    background: gold;
    color: #fff;
    transition: all 0.35s;
}

